{% extends "base.html" %}

{% block content %}
    <a href="{% url 'leads:lead-list' %}">retour à la liste des leads</a>
    <br/>
    <h1>Détail du lead: {{ lead.first_name }} - {{ lead.last_name }}</h1>
        <div class="lead">
            Age: {{ lead.age }} <br/>
            L'agent responsable de ce lead est: {{ lead.agent }}
        </div>
        <br/>
    <a href="{% url 'leads:lead-update' lead.pk %}">Mise a jour</a>
    <a href="{% url 'leads:lead-delete' lead.pk %}">Effacer</a>  
{% endblock content %}